# local package
-e . 

# requirements
pandas==2.2.2
pandas-stubs==2.2.2.240603
matplotlib==3.9.0
matplotlib-stubs==0.2.0
ensure==1.0.4
wordcloud==1.9.3
nltk==3.8.1
ensure==1.0.4
# cmd: pipreqs . --savepath custom_requirements.txt